@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-pro-form-login-page-left {
  overflow: hidden;
  max-width: 100%;
  min-width: 330px;
  height: 100%;
  margin: 0;
  padding: 24px;
}

.ant-pro-form-login-page-main {
  width: 90%;
}

.ant-pro-form-login-page-top {
  display: flex;
  flex-direction: column;
  height: auto;
}
.ant-pro-form-login-page-header {
  min-height: auto;
  align-items: flex-start;
}
.ant-pro-form-login-page-logo {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 100%;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 111111s;
  -webkit-transition: color 11111s ease-out, background-color 111111s ease-out;
}
